@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

.about-me {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.about-me h2 {
  color: #f08223;
  font-family: century-gothic, sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: end;
}

.about-me-text {
  font-family: "Alkatra", cursive;
  line-height: 25px;
  font-size: 20px;
  color: #f08223;
}

.about-me-text-p2 {
  padding-top: 20px;
  font-family: "Alkatra", cursive;
  line-height: 25px;
  font-size: 20px;
  color: #f08223;
}

.profile-pic {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border: 5px solid transparent;
  border-radius: 60%;
}
