@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

.about-me {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  align-items: center; /* Center align content vertically */
  padding: 20px; /* Add padding for better spacing */
}

.about-me h2 {
  color: #f08223;
  font-family: century-gothic, sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: flex-end; /* Align heading to the right */
}

.about-me-text {
  font-family: "Alkatra", cursive;
  line-height: 25px;
  font-size: 18px;
  color: #f08223;
  margin-top: 20px; /* Add margin to separate paragraphs */
}

.about-me-text-p2 {
  padding-top: 20px;
  font-family: "Alkatra", cursive;
  line-height: 25px;
  font-size: 18px;
  color: #f08223;
}

.profile-pic {
  margin-top: 15px;
  width: 50%;
  max-width: 300px;
  border: 5px solid transparent;
  border-radius: 50%;
  transform: rotate(90deg); /* Rotate the profile picture vertically */
}
