.contact-form {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
}

.contact-form h1 {
  color: #f08223;
  margin-bottom: 40px;
}

.contact-name {
  display: flex;
  flex-direction: column;
}

.contact-name label {
  text-align: center;
  color: #f08223;
}

.contact-email {
  display: flex;
  flex-direction: column;
}

.contact-email label {
  text-align: center;
  color: #f08223;
}

.contact-message {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-message label {
  color: #f08223;
  text-align: center;
}

.contact-message textarea {
  width: 300px;
  height: 300px;
}

.contact-message input {
  background-color: #1b5e20;
  color: #f08223;
}
