@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

.navbar {
  background: transparent;
  top: 0; /* Position the navbar at the top of the page */
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky-nav {
  width: 50%;
  position: fixed;
  top: 0;
  left: 10px;
  display: flex;
  justify-content: end;
}

.sticky-nav .navbar-links {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.sticky-nav .homepage {
  padding-top: 200px;
  padding-bottom: 350px;
  text-align: center;
}

.sticky-nav h2 {
   display: none;
}


.container {
  width: 100px;
  height: 120px;
}

.container img {
  width: 100%;
  height: auto;
}

.navbar-name {
  font-size: 15px;
  margin: 8px;
  padding: 30px;
}

.navbar-links {
  margin: 0;
  padding: 30px;
  display: flex;
}

.navbar-links a {
  font-family: "Libre Baskerville", serif;
  color: #f08223;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  justify-content: space-around;
}

.container img:hover {
  width: 125px;
}