@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.navbar {
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-around;
   background-color: #FFFFF0;
   align-items: center;
   width: 100%;
}

.container {
   width: 100px;
   height: 120px;
}

.container img {
   width: 100%;
   height: auto;
}

.navbar-name {
   font-size: 15px;
   margin: 8px,
}

.navbar-links {
   margin: 0;
   padding: 0;
   display: flex;
}

.navbar-links a {
   font-family: 'Libre Baskerville', serif;
   color: #F08223;
   font-size: 20px;
   text-decoration: none;
   text-align: center;
   padding: 1rem;
   justify-content: space-around;
}

.container img:hover {
   width: 125px;
}

.header-name {
   text-align: center;
   font-family: century-gothic, sans-serif;
   font-weight: bold;
   font-size: 100px;
   text-shadow: -1px -1px 0 #FFFFF0, 1px -1px 0 #FFFFF0, -1px 1px 0 #FFFFF0, 1px 1px 0 #FFFFF0;
   color: #F08223;
}

.header-title {
   font-weight: bold;
   font-size: 75px;
}

.header-name h3 {
   padding-top: 15%;
}

@media only screen and (max-width: 726px) {
   .navbar  {
   width: 80%;
   }
   .header-name {
      font-size: 50px;
    }
 
    .header-title {
       font-size: 50px;
    }
 }
