@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

.homepage {
  padding-top: 100px;
  min-height: 75vh;
  justify-content: center;
  text-align: center;
}

.homepage-name {
  font-family: century-gothic, sans-serif;
  font-weight: bold;
  font-size: 100px;
  text-shadow: -1px -1px 0 #fffff0, 1px -1px 0 #fffff0, -1px 1px 0 #fffff0,
    1px 1px 0 #fffff0;
  color: #f08223;
}

.homepage-title {
  font-weight: bold;
  font-size: 75px;
  color: #f08223;
  font-family: century-gothic, sans-serif;
}

.homepage-name h3 {
  padding-top: 15%;
}

@media only screen and (max-width: 726px) {
  .homepage-name {
    font-size: 40px;
  }

  .homepage-title {
    font-size: 40px;
  }

  .navbar-name {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .homepage {
    min-height: 30vh;
  }
}



