@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

.contact-title {
  font-family: century-gothic, sans-serif;
  font-weight: bold;
  margin-bottom: 15%;
  color: #f08223;
  font-size: 50px;
}

.contact-content {
  padding-left: 150px;
  padding-right: 150px;
  min-height: 70vh;
  margin-bottom: 15%;
}



