@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.window-size {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: #fffff0 !important;
  width: 100%;
}

.background-custom {
  width: 100%;
  background-color: #fffff0;
}
